body {
    font-family: sans-serif;
    color: #fff;

    margin: 0;
    box-sizing: border-box;

    height: 100%;

    background: linear-gradient(60deg, #0f2027 20%, #203a43 40%, #2c5364 60%) no-repeat;
}

.main-wrapper {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 100%;
    min-height: 100vh;

    overflow: auto;
    min-width: 760px;
}

/* Start HEADER styiing */

.header {
    display: grid;
    grid-template-columns: 150px auto 200px;
    height: 70px;
    padding: 8px 16px;
}

.header__left-path {
    display: flex;
}

.header__left-path__logo {
    width: 100%;
    transform: scale(1.1);
}

.header__center-path {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__city-select {
    width: 40%;
    min-width: 300px;
    padding: 10px 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.header__right-path {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header__right-path__buttons, .header__right-path__cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__right-path__ui-button {
    width: 80%;
    padding: 6px 10px;
    font-weight: bold;

    color: #4e9bcd;
    background-color: #fff;
    text-align: center;
}

.header__right-path__ui-button--register {
    color: #fff;
    background-color: #4e9bcd;
}

.header__right-path__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* End HEADER */

/* Start MAIN_MENU styling */

.main-menu {
    display: flex;
    justify-content: space-around;
    padding: 0 80px;
}

.main-menu__part {
    position: relative;
    flex-grow: 1;
    margin: 10px 40px;
    padding: 12px 0;
    text-align: center;

    border: 1px solid snow;

    cursor: pointer;
    transition: .2s;
}

.main-menu__part__title {
    letter-spacing: 1px;
}

.main-menu__part__content {
    position: absolute;
    margin-top: 12px;
    padding: 0 10px;
    max-height: 0;

    background-color: #4e9bcd;
    color: #111;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

    overflow: hidden;
    transition: .2s;
}

.main-menu__part:hover {
    border-bottom: none;

    color: #fff;
    background-color: #4e9bcd;
}

.main-menu__part:hover .main-menu__part__content {
    max-height: 200px;
    padding: 24px 16px;
}

/* End MAIN-MENU */

/* Start SLIDER styling */



/* End SLIDER */

/* Start UI-BODY styling */

.cards-body {
    padding: 20px 0;
}

.cards-body__wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 80px;

    padding: 20px 0;
}

.cards-body__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    grid-column-start: 1;
    grid-column-end: 3;
}

.cards-body__cards > label {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 46px);

    margin: 16px 20px;
    border: 2px solid #4e9bcd;
}

.cards-body__cards > label input {
    position: absolute;
    left: -9999px;
}

.cards-body__cards > label input + label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 1px;
    font-size: 28px;

    border: 2px solid #eee;
    border-radius: 4px;

    cursor: pointer;
}

.cards-body__cards > label input:checked + label {
    background-color: tomato;
}

.cards-body__submit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-body__submit {
    font-weight: bold;
    color: #fff;
    border-radius: 8px;

    padding: 10px 18px;
    background-color: #1da1f2;
}

.cards-body__warning-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-body__warning {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: tomato;

    max-width: 0;
    overflow: hidden;
}

.cards-body__warning--showed {
    max-width: 200px;
}

.matched {
    box-shadow: 0 0 8px 4px greenyellow;
}

/* End UI-BODY */

/* Start FOOTER Styling */

.footer {
    position: relative;

    display: flex;
    justify-content: space-around;

    height: 130px;

    background-color: #4e9bcd;
}

.footer__path {
    display: flex;
    flex-direction: column;

    margin: 20px 0;
}

.footer__path__link {
    display: flex;

    padding: 6px 0;

    text-decoration: none;
    color: #fff;

    transition: transform .2s;
}

.footer__path__heading {
    padding: 3px 8px;

    border-radius: 6px;
    text-shadow: 0 0 2px #000;
}

.footer__path__heading--facebook {
    background-color: #3349fc;
    color: #fff;
}

.footer__path__heading--instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 2%, #fd5949 30%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0 3px 10px rgba(0,0,0,.25);
}

.footer__path__heading--twitter {
    background-color: #1da1f2;
}

.footer__path__link:hover {
    transform: scale(1.05);
}
.footer__path__link:active {
    transform: scale(1.02);
}

.footer__path__link:active {
    outline: none;
}

/* End FOOTER */